<h2><%= @product.title %></h2>

<h3>Category:</h3>
<p><%= @product.category.name %></p>

<h3>Description:</h3>
<p><%= @product.description %></p>

<h3>Price:</h3>
<p>$<%= @product.price %></p>

<h3>Stock Remaining:</h3>
<p><%= @product.stock_quantity %></p>
